In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

planeData = pd.read_csv('/flights.csv')
print(planeData.shape)
print(planeData.head())

(245955, 23)
       tbl  Year  quarter  citymarketid_1  citymarketid_2  \
0  Table1a  2021        3           30135           33195
1  Table1a  2021        3           30135           33195
2  Table1a  2021        3           30140           30194
3  Table1a  2021        3           30140           30194
4  Table1a  2021        3           30140           30466

                            city1                          city2  airportid_1  \
0  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
1  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
2                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
3                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
4                 Albuquerque, NM                    Phoenix, AZ        10140

   airportid_2 airport_1  ...    fare  carrier_lg  large_ms  fare_lg  \
0        14112       ABE  ...   81.43          G4    1.0000    81.43
1        15304       ABE  ...  208.93          DL    0.4659   219.98
2        11259       ABQ  ...  184.56          WN    0.9968   184.44
3        11298       ABQ  ...  182.64          AA    0.9774   183.09
4        14107       ABQ  ...  177.11          WN    0.6061   184.49

  carrier_low   lf_ms  fare_low Geocoded_City1  Geocoded_City2  \
0          G4  1.0000     81.43            NaN             NaN
1          UA  0.1193    154.11            NaN             NaN
2          WN  0.9968    184.44            NaN             NaN
3          AA  0.9774    183.09            NaN             NaN
4          AA  0.3939    165.77            NaN             NaN

                 tbl1apk
0  202131013514112ABEPIE
1  202131013515304ABETPA
2  202131014011259ABQDAL
3  202131014011298ABQDFW
4  202131014014107ABQPHX

[5 rows x 23 columns]

In [22]:
planeData = pd.read_csv('/flights.csv')
#Drop unneeded columns
planeData = planeData.drop(['tbl', 'citymarketid_1', 'citymarketid_2', 'airportid_1', 'airportid_2', 'tbl1apk'], axis=1)
#Drop null rows
planeData = planeData.dropna()
#Assume this is lowest number of passengers
planeData = planeData[planeData['passengers'] >= 25]
#Drop non-full year data (2024)
planeData = planeData[planeData['Year'] != 2024]
#Highest number of possible passengers in largest plane (A380)
planeData = planeData[planeData['passengers'] <= 850]
#If market share is completely dominated by one
planeData = planeData[planeData['large_ms'] != planeData['lf_ms']]
print(planeData.shape)
print(planeData.head())

(74771, 17)
      Year  quarter                           city1  \
5919  2010        1              Salt Lake City, UT
5921  1998        4                  Pittsburgh, PA
5924  2010        4                 Kansas City, MO
5927  2005        4  Boston, MA (Metropolitan Area)
5929  2001        1                   Nashville, TN

                                      city2 airport_1 airport_2  nsmiles  \
5919          Tampa, FL (Metropolitan Area)       SLC       TPA     1887
5921     Washington, DC (Metropolitan Area)       PIT       BWI      210
5924    Los Angeles, CA (Metropolitan Area)       MCI       SNA     1363
5927                            Buffalo, NY       PVD       BUF      396
5929  New York City, NY (Metropolitan Area)       BNA       LGA      803

      passengers    fare carrier_lg  large_ms  fare_lg carrier_low  lf_ms  \
5919         200  226.59         DL      0.38   247.69          US   0.20
5921         152  239.12         US      0.93   245.70          CO   0.03
5924         175  201.46         WN      0.38   208.53          F9   0.11
5927          41  177.37         US      0.72   175.45          CO   0.16
5929         283  281.84         AA      0.71   287.06          DL   0.15

      fare_low                                     Geocoded_City1  \
5919    166.99       Salt Lake City, UT\n(40.758478, -111.888142)
5921     71.30            Pittsburgh, PA\n(40.442169, -79.994945)
5924    162.07           Kansas City, MO\n(39.099792, -94.578559)
5927    170.24  Boston, MA (Metropolitan Area)\n(42.358894, -7...
5929    278.68             Nashville, TN\n(36.166687, -86.779932)

                                         Geocoded_City2
5919  Tampa, FL (Metropolitan Area)\n(37.8606, -78.8...
5921  Washington, DC (Metropolitan Area)\n(38.892062...
5924  Los Angeles, CA (Metropolitan Area)\n(34.05223...
5927                Buffalo, NY\n(39.945422, -78.64671)
5929  New York City, NY (Metropolitan Area)\n(40.123...